{% extends "base.html"%}

{% block content%}
<!--add message-->
<div class="navbar">
    <nav>
        <ul>
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('msgboard')}}">Message Board</a></li>
            <li><a href="{{ url_for('signout')}}">Sing out</a></li>
        </ul>
    </nav>
</div>

<div class="container">
        <h1>Edit Message</h1>
        <form action="" method="POST" >
                <textarea name="message" cols="40" rows="10">{{ message }}</textarea>
                <button type="submit" value="Submt">Update</button>
        </form>
</div>
{% endblock content %}

{% block footer%}
<div class="wrapper">
    <footer>
        <hr>
        <p>&copy; 2020 yhagiwara.com<p>
    </footer>
</div>
{% endblock footer%}
